@inject NavigationManager NavigationManager;
@inject IHttpClientFactory httpClientFactory

@code {
	[Parameter]
	public PluginConfiguration Configuration { get; set; }

	public Config() : this(new PluginConfiguration()) { }
    public Config(PluginConfiguration configuration)
    {
        Configuration = configuration;
    }

    private List<string> FontList { get; set; } = new List<string>()
	{	
		"Arial",
		"Arial Black",
		"Bahnschrift",
		"Calibri",
		"Cambria",
		"Candara",
		"Comic Sans MS",
		"Consolas",
		"Constantia",
		"Corbel",
		"Courier New",
		"Georgia",
		"Impact",
		"Lucida Console",
		"Lucida Sans Unicode",
		"Malgun Gothic",
		"Microsoft Sans Serif",
		"Palatino Linotype",
		"Segoe MDL2 Assets",
		"Segoe Print",
		"Segoe Script",
		"Segoe UI",
		"Segoe UI Black",
		"Segoe UI Emoji",
		"Segoe UI Historic",
		"Segoe UI Light",
		"Segoe UI Semibold",
		"Segoe UI Semilight",
		"Segoe UI Symbol",
		"SimSun",
		"SimSun-ExtB",
		"Tahoma",
		"Times New Roman",
		"Trebuchet MS",
		"Verdana",
		"Webdings",
		"Wingdings"
	};

	protected override async Task OnInitializedAsync()
	{
		await FetchData();
		StateHasChanged();
	}

	private async Task FetchData()
	{
		var response = await httpClientFactory.CreateClient().GetAsync($"{NavigationManager.BaseUri}api/v1/Plugin/SRTPluginProducerRE4R/AvailableFonts");

		if (response.IsSuccessStatusCode)
		{
			var json = await (response?.Content?.ReadAsStringAsync() ?? Task.FromResult(string.Empty));
			FontList.Clear();
			FontList = JsonSerializer.Deserialize<List<string>>(json) ?? new List<string>();
		}
	}

	private void SaveConfig()
	{
		NavigationManager.NavigateTo(NavigationManager.GetUriWithQueryParameter("Config", JsonSerializer.Serialize<PluginConfiguration>(Configuration)), true);
	}
}

<div class="w-full sm:h-auto h-full flex flex-col text-sm">
	<div class="w-full flex flex-col gap-2 px-4">
		<div class="w-full h-auto flex flex-col gap-2 rounded-md justify-center rounded-md bg-zinc-700">
			<h1 class="w-full md:text-left text-center font-bold border-b p-2 text-red-400 bg-zinc-900 rounded-tl-md rounded-tr-md">Debug Settings</h1>
			<div class="w-full grid md:grid-cols-3 grid-cols-2 px-4 pb-4 gap-2">
				<label>
					<input type="checkbox" @bind="Configuration.Debug" /> Show Debug Info
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.AlignInfoTop" /> Algin Info To Top
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.HideUICutscene" /> Hide UI Cutscene
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.HideUIInventory" /> Hide UI Inventory
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.HideUIPause" /> Hide UI Pause
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.HideUIInShop" /> Hide UI In Shop
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowIGT" /> Show IGT
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowDuffle" /> Show Duffle
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowDifficultyAdjustment" /> Show DA
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowPTAS" /> Show PTAS
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowPosition" /> Show Position
				</label>

				<label>
					<input type="checkbox" @bind="Configuration.ShowRotation" /> Show Rotation
				</label>
			</div>
		</div>

		<div class="w-full h-auto flex flex-col gap-2 rounded-md bg-zinc-700">
			<h1 class="w-full md:text-left text-center font-bold border-b p-2 text-red-400 bg-zinc-900 rounded-tl-md rounded-tr-md">Font Settings</h1>
			<div class="w-full grid grid-cols-4 gap-2 px-4 pb-4">
				<label class="col-span-1 flex flex-col">
					Font Size
					<input class="text-black p-2 rounded-md" type="number" @bind="Configuration.FontSize" />
				</label>

				<label class="col-span-3 flex flex-col">
					Font Name
					@{
						<select class="h-full text-black p-2 rounded-md" @bind="Configuration.StringFontName">
							@if (FontList is not null)
							{
								@foreach (var font in FontList)
								{
									<option value="@font" selected="@(Configuration.StringFontName == font)">@font</option>
								}
							}
						</select>
					}
				</label>
			</div>
			
		</div>

		<div class="w-full h-auto gap-2 rounded-md bg-zinc-700">
			<h1 class="w-full md:text-left text-center font-bold border-b p-2 text-red-400 bg-zinc-900 rounded-tl-md rounded-tr-md">Scale and Position Offset Settings</h1>
			<div class="w-full grid grid-cols-3 gap-2 px-4 pb-4">
				<label class="hidden flex flex-col">
					UI Size Scale Multiplier
					<input class="text-black p-2 rounded-md" type="number" min="0.01" max="4.00" step="0.01" @bind="Configuration.ScalingFactor" />
				</label>

				<label class="flex flex-col">
					Enemies Limit
					<input class="text-black p-2 rounded-md" type="number" min="-1" max="32" step="1" @bind="Configuration.EnemyLimit" />
				</label>

				<label class="flex flex-col">
					Position X (All)
					<input class="text-black p-2 rounded-md" type="number" min="0" max="3840" step="1" @bind="Configuration.PositionX" />
				</label>

				<label class="flex flex-col">
					Position Y (All)
					<input class="text-black p-2 rounded-md" type="number" min="0" max="2160" step="1" @bind="Configuration.PositionY" />
				</label>
			</div>
		</div>

		<div class="w-full h-auto flex flex-col gap-2 rounded-md bg-zinc-700">
			<h1 class="w-full md:text-left text-center font-bold border-b p-2 text-red-400 bg-zinc-900 rounded-tl-md rounded-tr-md">HP Bar Settings</h1>
			<div class="col-span-6 grid grid-cols-6 px-4 pb-4 gap-2">
				<label class="col-span-6">
					<input type="checkbox" @bind="Configuration.ShowHPBars" /> Show HP
				</label>

				<label class="col-span-3">
					<input type="checkbox" @bind="Configuration.ShowDamagedEnemiesOnly" /> Damaged Only
				</label>

				<label class="col-span-3">
					<input type="checkbox" @bind="Configuration.ShowBossOnly" /> Boss Only
				</label>

				<label class="col-span-6 flex flex-col">
					Boss HP Position
					<select class="h-full text-black p-2 rounded-md" @bind="Configuration.BossHPPosition">
						<option value="0" selected="@(Configuration.BossHPPosition == 0)">Default</option>
						<option value="1" selected="@(Configuration.BossHPPosition == 1)">Center</option>
					</select>
				</label>

				<label class="col-span-3 flex flex-col">
					HP Bar Type
						<select class="h-full text-black p-2 rounded-md" @bind="Configuration.PlayerHPType">
							<option value="0" selected="@(Configuration.PlayerHPType == 0)">Text</option>
							<option value="1" selected="@(Configuration.PlayerHPType == 1)">Bar</option>
						</select>
				</label>

				<label class="col-span-3 flex flex-col">
					Player HP Position
						<select class="h-full text-black p-2 rounded-md" @bind="Configuration.PlayerHPPosition">
							<option value="0" selected="@(Configuration.PlayerHPPosition == 0)">Left</option>
							<option value="1" selected="@(Configuration.PlayerHPPosition == 1)">Center</option>
							<option value="2" selected="@(Configuration.PlayerHPPosition == 2)">Right</option>
							<option value="3" selected="@(Configuration.PlayerHPPosition == 3)">Custom</option>
						</select>
				</label>

				<label class="col-span-3 flex flex-col">
					Player HP Position X
					<input class="text-black p-2 rounded-md" type="number" min="-1" max="3840" step="1" disable="@(Configuration.PlayerHPPosition == 3)" @bind="Configuration.PlayerHPPositionX" />
				</label>

				<label class="col-span-3 flex flex-col">
					Player HP Position Y
					<input class="text-black p-2 rounded-md" type="number" min="-1" max="2160" step="1" disable="@(Configuration.PlayerHPPosition == 3)" @bind="Configuration.PlayerHPPositionY" />
				</label>

				<label class="col-span-3 flex flex-col">
					Enemy HP Position X
					<input class="text-black p-2 rounded-md" type="number" min="-1" max="3840" step="1" @bind="Configuration.EnemyHPPositionX" />
				</label>

				<label class="col-span-3 flex flex-col">
					Enemy HP Position Y
					<input class="text-black p-2 rounded-md" type="number" min="-1" max="2160" step="1" @bind="Configuration.EnemyHPPositionY" />
				</label>
			</div>
		</div>

		<button class="w-full bg-green-800 hover:bg-green-700 p-4 rounded-md" @onclick="SaveConfig">Save Configuration</button>


		<footer class="w-full">
			<div class="w-full flex items-center justify-center sm:text-sm text-xs sm:py-2 pt-6 pb-8">
				© 2023 VideoGameRoulette. All Rights Reserved.
			</div>
		</footer>

	</div>
</div>

